.scanwords {
    margin: 20px 0;
}

.scanwords-header {
    display: flex;
    line-height: 24px;
    font-size: 16px;
    padding: 0 10px;
    justify-content: space-between;
}

.scanwords-header > span {
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 0 5px;
}
